body {
	margin: 0;
	padding: 0;
	background: #EEEEEE;
	overflow: hidden;
	font-size: 14px !important;
}

@media only screen and (min-width: 650px) {
	#forecast-container {
		margin: 0 auto 0 auto;
		max-width: 800px;
	}
	.forecast1, .forecast3, .forecast5 {
		float: left;
		width: 48% !important;
	}
	.forecast2, .forecast4 {
		float: right;
		width: 48% !important; 
	}
	#settings .card, .content .card {
		max-width: 800px !important;
		margin: 20 auto 20 auto !important;
	}
}

@media all and (max-width: 300px) {
  .settings {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.settings-item {
		padding: 10px 0px !important;
	}
}

.share-content {
	padding-bottom: 0px !important;
}

.toast {
	white-space: nowrap !important;
	overflow: hidden !important;
}

@media all and (max-width: 600px) {
	#toast-container {
		margin-bottom: 16px;
		min-width: calc(100% - 20px) !important;
	}

	.map-toast {
		min-width: 100% !important;
		margin-top: 0px !important;
		position: absolute !important;
		left: 0px !important;
		right: 0px !important;
		top: 0px !important;
	}
}

#tabs {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 56px;
	z-index: 1;
	padding: 0px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 3;
}

.tabs {
	margin: 0 auto 0 auto !important;
	max-width: 800px;
	padding: 0px;
	height: 56px;
}

.tabs li.tab {
	height: 56px;
	line-height: 56px;
	background: transparent !important;
}

.tab a {
	color: #FFFFFF !important;
}

.indicator {
	background-color: #FFFFFF !important;
	height: 4px !important;
}

.content {
	position: absolute;
	top: 56px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	display: hidden;
	z-index: 0;
	background-size: cover !important;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 260px;
}

.content .card {
	margin: 10px auto 20px auto;
}

.btn-floating {
	background: transparent;
}

.settings-trigger {
	width: 100%;
}

.settings-trigger:hover {
	background-color: #FFFFFF !important;
}

.modal-content {
	padding-bottom: 0px !important;
}

.preloader-wrapper, .map-preloader {
	position:absolute;
	width:300px;
	height:200px;
	z-index:15;
	top:50%;
	left:50%;
	margin:-64px 0 0 -35px;
	z-index: 0;
}

.map-preloader {
	display: none;
}

#settings .help {
	display: none;
}

#map {
	background-size: cover !important;
}

#mapvideo, #mapgif {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.mapcontrol, .mapshare {
	position: fixed;
	display: none;
	margin-bottom: 0px !important;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.mapcontrol {
	right: 16px;
	bottom: 16px;
}

.mapshare {
	right: 16px;
	bottom: 87.5px;
}

.collapsible, .theme {
	margin: 0px !important;
	border: 0px !important;
	box-shadow: none !important;
}

.card-title {
	color: #000000 !important;
}

.help .card-title {
	color: #00bcd4 !important;
}

#warning, .collapsible .collapsible-header {
	color: #e51c23;
}

[type="radio"]:checked + label:after {
	background-color: #000000;
	border: #000000;
}

table {
	margin-top: 20px;
	margin-bottom: 20px;
}

td, th {
	font-weight: normal !important;
	padding: 0px !important;
}

.weather-icon {
	width: 50%;
	text-align: center;
}

.weather-info {
	text-align: center !important;
}

.weather-info .temp {
	font-weight: 300;
}

@media only screen and (max-width: 320px) {
	.weather-icon {font-size: 60px;}
	.weather-info .temp {font-size: 40px;}
}

@media only screen and (min-width: 320px) {
	.weather-icon {font-size: 80px;}
	.weather-info .temp {font-size: 50px;}
}

.weather-updated {
	text-align: right;
	font-size: 12px;
}

.forecast-icon {
	width: 30%;
	text-align: center;
}

.forecast-info {
	text-align: center !important;
}

.forecast-info .temp {
	font-weight: 300;
}

@media only screen and (max-width: 270px) {
	.forecast-icon {font-size: 40px;}
	.forecast-info .temp {font-size: 20px;}
}

@media only screen and (min-width: 270px) {
	.forecast-icon {font-size: 50px;}
	.forecast-info .temp {font-size: 25px;}
}

.card-content .row {
	margin-bottom: 0px !important;
}

.card .card-content p {
	margin: 0px 0px 5px;
}

form label {
	margin-right: 5px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	margin: 0px;
}

.error {
	font-family: "Courier New", Courier, monospace;
}

/* Styles for Settings */

#settings {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	background: #EEEEEE;
	z-index: 10;
	min-width: 260px;
	display: none;
}

.settings {
	margin: 56px auto 0px auto;
	padding: 10px 5px 20px 5px;
	max-width: 790px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	overflow: hidden;
}

.settings-save {
	width: 100% !important;
	margin: 0px !important;
	height: 56px !important;
	line-height: 56px !important;
	position: fixed;
}

.settings .settings-item {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0px;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

.settings .settings-item:last-child {
	border-bottom: none;
}

.settings a.settings-item {
	display: block;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	transition: 0.25s;
	color: #26a69a;
}

/* Styles for color picker */

.farbtastic {
  position: relative;
}

.farbtastic * {
  position: absolute;
  cursor: crosshair;
}

.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}

.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}

.farbtastic .wheel {
  background: url(../img/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}

.farbtastic .overlay {
  background: url(../img/mask.png) no-repeat;
}

.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(../img/marker.png) no-repeat;
}
