body {
	margin: 0;
	padding: 0;
	background: #EEEEEE;
	overflow: hidden;
	font-size: 14px !important;
}

@media only screen and (min-width: 600px) {
	#forecast-container {
		margin: 0 auto 0 auto;
		max-width: 800px;
	}
	.forecast1, .forecast3, .forecast5 {
		float: left;
		width: 48% !important;
	}
	.forecast2, .forecast4 {
		float: right;
		width: 48% !important; 
	}
	#settings .card, .content .card {
		max-width: 800px !important;
		margin: 20 auto 20 auto !important;
	}
}

@media all and (max-width: 300px) {
  .settings {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.settings-item {
		padding: 10px 0px !important;
	}
}

.share-content {
	padding-bottom: 0px !important;
}

#toast-container {
	padding: 10px;
}

#tabs {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 56px;
	z-index: 1;
	padding: 0px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 3;
}

.tabs {
	margin: 0 auto 0 auto !important;
	max-width: 800px;
	padding: 0px;
	height: 56px;
}

.tabs li.tab {
	height: 56px;
	line-height: 56px;
	background: transparent !important;
}

.tab a {
	color: #FFFFFF !important;
}

.indicator {
	background-color: #FFFFFF !important;
	height: 4px !important;
}

.content {
	position: absolute;
	top: 56px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	display: hidden;
	z-index: 0;
	background-size: cover !important;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 260px;
}

.btn-floating {
	background: transparent;
}

#settings-trigger, #save-trigger, #share-trigger {
	position: absolute;
	right: 16px;
	bottom: 16px;
	margin-bottom: 0px !important;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#settings-trigger {
	z-index: 2;
}

#save-trigger {
	z-index: 3;
}

.preloader-wrapper {
	position:absolute;
	width:300px;
	height:200px;
	z-index:15;
	top:50%;
	left:50%;
	margin:-64px 0 0 -35px;
	z-index: 0;
}

#settings .help {
	display: none;
}

#map {
	background-size: cover !important;
}

.collapsible, .theme {
	margin: 0px !important;
	border: 0px !important;
	box-shadow: none !important;
}

#settings .card, .content .card {
	margin: 10 0 20 0;
}

.card-title {
	color: #000000 !important;
}

.help .card-title {
	color: #00bcd4 !important;
}

#warning, .collapsible .collapsible-header {
	color: #e51c23;
}

[type="radio"]:checked + label:after {
	background-color: #000000;
	border: #000000;
}

td, th {
	font-weight: normal !important;
	padding: 0px !important;
}

.weather-icon {
	width: 50%;
}

.weather-icon img {
	width: 100%;
	max-width: 200px;
	max-height: 200px;
}

.weather-info {
	text-align: center !important;
}

.forecast-icon {
	width: 30%;
}

.forecast-icon img {
	width: 100%;
	max-width: 150px;
	max-height: 150px;
}

.forecast-info {
	text-align: center !important;
}

.card-content .row {
	margin-bottom: 0px !important;
}

form label {
	margin-right: 5px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	margin: 0px;
}

/* Styles for Settings */

#settings {
	position: absolute;
	top: 56px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	background: #EEEEEE;
	z-index: 2;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 260px;
	display: none;
}

.settings {
	margin: 0px auto 0px auto;
	padding: 10px 5px 20px 5px;
	max-width: 790px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	overflow: hidden;
}

.settings .settings-item {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0px;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

.settings .settings-item:last-child {
	border-bottom: none;
}

.settings a.settings-item {
	display: block;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	transition: 0.25s;
	color: #26a69a;
}

/* Styles for color picker */

.farbtastic {
  position: relative;
}

.farbtastic * {
  position: absolute;
  cursor: crosshair;
}

.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}

.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}

.farbtastic .wheel {
  background: url(../img/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}

.farbtastic .overlay {
  background: url(../img/mask.png) no-repeat;
}

.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(../img/marker.png) no-repeat;
}
